ul {
    padding-left: 20px;
    margin-bottom: 0;
}

h3 {
    text-align: center;
}

a {
    display: table;
    font-size: 10px;
    margin: 0 auto 10px;
}

input {
    width: 200px;
}

input.button {
    display: block;
    margin: 0 auto;
}

div.content {
    margin: 20px auto;
    width: 340px;
    border: 1px black solid;
}

div.errorMessage {
    text-align: center;
    background-color: red;
}

span {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}