h3 {
    text-align: center;
}

table {
    margin: auto;
    border: 1px black solid;
}

span.create {
    display: block;
    margin: 0 auto;
}

td div.button {
    display: inline-block;
    size: 150px;
}

div.up {
    border-bottom: 1px gray solid;
    padding-bottom: 5px;
}

div.content {
    width: 50%;
    margin: 0 auto;
}

div.up div {
    display: table;
    margin-left: auto;
}

span {
    margin-right: 5px;
    display: inline-block;
}