/******************* Partie Génerale *******************/

body{
    background-color: #B9B9B9;
}

/******************* Partie index*******************/

.titreIndex
{
    text-align: center;
}

.fieldsetIndex
{
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 10px;
    background-color:rgb(211, 208, 208);
    padding:2%;
}

.legendIndex
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pEvalMeIndex
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/******************* Partie gestion *******************/

.fieldsetGestion
{
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 10px;
    background-color:rgb(211, 208, 208);
    padding:2%;
}

.legendGestion
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pGestion
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/******************* Partie Entité *******************/

.tableau
{
    border:1px #000 solid;
}
.fieldsetEntite
{
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 10px;
    background-color:rgb(211, 208, 208);
    padding:2%;
}

.legendEntite
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pEntite
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/******************* Partie QCM *******************/
.enCoursDeDev
{
    text-align: center;
}

.explicationQCM
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.explicationQCM ul li
{
    list-style-type:none;
}

/******************* Partie À propos *******************/

.fieldsetAPropos
{
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 10px;
    background-color:rgb(211, 208, 208);
    padding:2%;
}

.legendAPropos
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pQuiSommeNousAPropos
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pDTADIGINAMICAPropos
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/******************* Partie Nous contacter *******************/

.fieldsetNousContacter
{
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 10px;
    background-color:rgb(211, 208, 208);
    padding:2%;
}

.legendNousContacter
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pNousContacter
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
